#imagenPersonal {
    max-width: 300px;
    max-height: 300px;
}

.carta {
    text-shadow: 0 0 1px #000;
}

.card-body a {
    transition: background-color .5s;
}

.card-body a:hover {
    background-color: aquamarine;
}